@model EdFi.Dashboards.Metric.Resources.Models.MetricStateType
<span style="@Legacy.ShowState(Model)" class="@Legacy.StateClass(Model)" title="@Legacy.EvaluateState(Model)">
    @ViewBag.DisplayText
    <em class="hidden">@Legacy.EvaluateState(Model)</em>
</span>
