@model ContainerMetric

<tr id="vMetric@(Model.MetricVariantId)">
    <td title="@(Model.ToolTip)" class="bulleted-metric bulleted-metric-border overview-metric-container-1">
        <i class="icon-right-circled"></i>
        <div class="title">
            <h3>
                <a href="@(Url.Content(Model.Url))" id="vName@(Model.MetricVariantId)">
                    @(Model.DisplayName)
                </a>
                @if (!string.IsNullOrEmpty(Model.Context))
                {
                    <span id="vContext@(Model.MetricVariantId)">
                        &nbsp;(@(Model.Context))
                    </span>
                }
            </h3>
            <span id="vDescription@(Model.MetricVariantId)" class="description">
                @Model.Description
            </span>
        </div>
    </td>
    <td class="bulleted-metric-border"></td>
    <td class="bulleted-metric-border"></td>
</tr>
