@using System.Web.Mvc.Html
@using Cassette.Views
@using EdFi.Dashboards.Common
@using EdFi.Dashboards.Common.Configuration
@using EdFi.Dashboards.Presentation.Core.Controllers
@using EdFi.Dashboards.Presentation.Web.Architecture.HtmlHelperExtensions
@using EdFi.Dashboards.Resources.Navigation.Mvc
@using EdFi.Dashboards.SecurityTokenService.Authentication
@{
    Bundles.Reference("Core_Content/Scripts/External");
    Bundles.Reference("Core_Content/Scripts/Application");
    Bundles.Reference("Core_Content/HtmlTemplates/EdFiGrid");
    Bundles.Reference("Core_Content/HtmlTemplates/MetricsBasedWatchList");

    Bundles.Reference("Core_Content/StyleSheets");
    Bundles.Reference("Content/StyleSheets");
    Bundles.Reference("jquery-ui");
}
<!doctype html>

<html lang="en">
    
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Refresh" content="10800">@* Refresh the page every 3 hours, should force the user to log in again *@
    <link rel="stylesheet" href="@Url.Content("~/Core_Content/StyleSheets/fontello.css")">
    <!--[if IE 7]>
        <link rel="stylesheet" href="@Url.Content("~/Core_Content/StyleSheets/fontello-ie7.css")">
    <![endif]--> 
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
    <link rel="stylesheet" href="@Url.Content("~/Core_Content/StyleSheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Core_Content/StyleSheets/jquery.fileupload-ui.css")">
    <link rel="stylesheet" href="@Url.Content("~/Core_Content/StyleSheets/custom-style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Core_Content/StyleSheets/font-awesome.min.css")">
    <script type="text/javascript">
    	//This is a global variable for the path of the application.
    	//We have scenarios inside of .js files where we need to reference paths....
        @{Html.RenderAction("JQueryGlobalSiteBasePath", typeof(MasterPageController).GetControllerName()); }
    </script>
    @Bundles.RenderHtmlTemplates()
    @*<link rel='stylesheet' type='text/css' media='print' href="@(EdFiDashboards.Site.Common.Content("StyleSheets/Print.css").Resolve())" />*@
    <link rel="stylesheet" href="@Url.Content("~/Core_Content/StyleSheets/HideDBId.css")" type='text/css' media='screen' title='Hide Ids'>
    <link rel="alternate stylesheet" href="@Url.Content("~/Core_Content/StyleSheets/ShowDBId.css")" type='text/css' media='screen' title='Show Ids' disabled='disabled'>
    @RenderSection("head", required: false)
</head>

<body class="@Html.GetBrowserSpecificCssClasses()">
    @{ Html.RenderAction("SystemMessage", typeof(MasterPageController).GetControllerName()); }
    
    <script type="text/javascript">
        var expandCollapseImages = {
            BulletMinus: "@(EdFiDashboards.Site.Common.ThemeImage("BulletMinus.gif").Resolve())",
            BulletPlus: "@(EdFiDashboards.Site.Common.ThemeImage("BulletPlus.gif").Resolve())"
        };
        
        $(document).ready(function() {
            if (typeof (InitEdFiGridSettings) === 'function') {
                InitEdFiGridSettings();
            }
        });
        
        // for links that skip down the page, force focus on target element
        $(document).ready(function () {	
            $("a[href^='#']").click(function () {
                $("a[name='" + $(this).attr("href").slice(1) + "']").focus();
            });
        });
        
        @if(TimeoutWarningConfiguration.Current.WarningEnabled)
        {
            <text>
                $(document).ready(function() {
                    setSessionExpirationAlert(@(TimeoutWarningConfiguration.Current.WarningEnabled.ToString().ToLower()), @(TimeoutWarningConfiguration.Current.ForceEnabled.ToString().ToLower()), '@(Url.Content(TimeoutWarningConfiguration.Current.KeepAliveUrl))', '@(Url.Content(TimeoutWarningConfiguration.Current.LogoutUrl))', @(TimeoutWarningConfiguration.Current.TimeUntilWarning), @(TimeoutWarningConfiguration.Current.TimeUntilForcedLogout), '@(Enum.GetName(typeof(TimeoutWarningConfiguration.TimeoutForceAction), TimeoutWarningConfiguration.Current.ForceAction))');
                });
            </text>
        }
    </script> 
    <div id="dialog-confirm"></div>
    <!-- New Stuff -->
    <header id="header" class="constrained">
        <a id="skip" href="#maincontent">Skip Navigation</a>
        @*<ul>
            @if (!Request.Url.AbsolutePath.ToLower().Contains("search")) {
                <li><a class="btn" href="#" onclick="exportAll_Click();"><i class="icon-floppy"></i> Export All</a></li>
            }
            <li><a class="btn" href="#" onclick="javascript:window.print();"><i class="icon-print"></i> Print</a></li>
            <li><a id="buttonFeedback" class="btn btn-em" href="#"><i class="icon-help-circle"></i> Support</a></li>
            <li><a class="btn" href="#" onclick="window.location='@EdFiDashboardsSite.Common.Logout().Resolve()';"><i class="icon-logout"></i> Log Out</a></li>
        </ul>
        <nav id="nav-main">
            @{ Html.RenderAction("LevelCrumb", typeof(MasterPageController).GetControllerName()); }
            @{ Html.RenderAction("Search", typeof(MasterPageController).GetControllerName()); }
        </nav>*@

        <input type="hidden" name="DshUsrId" value="@UserInformation.Current.UserId" />
        <input type="hidden" name="DshUsrToken" value="@UserInformation.Current.UserToken" />


        <!-- VINLOGINTYP -->
        @{
            if (UserInformation.Current.ServiceType == "Normal")
            {
                <ul>
                    @if (!Request.Url.AbsolutePath.ToLower().Contains("search"))
                    {
                        <li><a class="btn" href="#" onclick="exportAll_Click();"><i class="icon-floppy"></i> Export All</a></li>
                    }
                    <li><a class="btn" href="#" onclick="javascript:window.print();"><i class="icon-print"></i> Print</a></li>
                    <li><a id="buttonFeedback" class="btn btn-em" href="#"><i class="icon-help-circle"></i> Support</a></li>
                    <li><a class="btn" href="#" onclick="window.location='@EdFiDashboardsSite.Common.Logout().Resolve()';"><i class="icon-logout"></i> Log Out</a></li>
                </ul>
                <nav id="nav-main">
                    @{ Html.RenderAction("LevelCrumb", typeof(MasterPageController).GetControllerName()); }
                    <span id="spn_AppVer">@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AppVer"])</span><!-- Fix : EDFIDB-60 -->
                    @{ Html.RenderAction("Search", typeof(MasterPageController).GetControllerName()); }
                </nav>
            }
            else
            {
                <nav id="nav-main">
                    @{ Html.RenderAction("DashboardStatus", typeof(MasterPageController).GetControllerName()); }
                    @{ Html.RenderAction("LevelCrumb", typeof(MasterPageController).GetControllerName()); }
                    <span id="spn_AppVer">@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["AppVer"])</span> <!-- Fix : EDFIDB-60 -->
                    @{ Html.RenderAction("Search", typeof(MasterPageController).GetControllerName()); }
                    @*<a class="btn" href="#" onclick="alert('LogOut in iFrame');window.location='@EdFiDashboardsSite.Common.Logout().Resolve()';">
                        <i class="icon-logout"></i> Log Out
                    </a>*@
                </nav>
            }
        }
    </header>
    <div id="content" class="constrained">
        @if (IsSectionDefined("ContentDataHeader")) {
            @RenderSection("ContentDataHeader", required: false)
        }
        @if (IsSectionDefined("ContentMenu")) {
            @RenderSection("ContentMenu", required: false)
        }
        <div id="maincontent" tabindex="-1">
            @RenderSection("ContentPlaceHolderTopMost", required: false)
        </div>
    </div>
    @*<footer id="footer" class="constrained">
        <div>
            @{ Html.RenderPartial("Legend"); }
        </div>
        <div class="copyright">
            <span class="site-logo"></span>
            <p>&copy; @DateTime.Now.Year Ed-Fi Alliance, LLC. All Rights Reserved.</p>
            <p>@{ Html.RenderAction("TopRightCorner", typeof(MasterPageController).GetControllerName()); }</p>
            <img id="red" src="@(EdFiDashboards.Site.Common.ThemeImage("redStripe.png").Resolve())" class="hidden" aria-hidden="true" alt="Image used in charts"/>
        </div>
    </footer>*@
    <!-- VINLOGINTYP -->
    @{
        if (UserInformation.Current.ServiceType == "Normal")
        {
            <footer id="footer" class="constrained">
                <div>
                    @{ Html.RenderPartial("Legend"); }
                </div>
                <div class="copyright">
                    <span class="site-logo"></span>
                    <p>&copy; @DateTime.Now.Year Ed-Fi Alliance, LLC. All Rights Reserved.</p>
                    <p>@{ Html.RenderAction("TopRightCorner", typeof(MasterPageController).GetControllerName()); }</p>
                    <img id="red" src="@(EdFiDashboards.Site.Common.ThemeImage("redStripe.png").Resolve())" class="hidden" aria-hidden="true" alt="Image used in charts" />
                </div>
            </footer>
        }
    }

    <input id="userFullName" type="hidden" value="@(UserInformation.Current == null ? string.Empty : UserInformation.Current.FullName)" />
    <input id="userServiceType" type="hidden" value="@(UserInformation.Current.ServiceType == null ? string.Empty : UserInformation.Current.ServiceType)" /> @*UserInformation.Current.ServiceType*@
    <input id="InterventionURL" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["InterventionURL"]" /> <!-- Fix : EDFIDB-124 -->

    
    @{Html.RenderAction("Feedback", typeof(MasterPageController).GetControllerName(), new { supportLinkControlId = "#buttonFeedback", allowNameEdit = false }); }
</body>

</html>
