@model IGranularMetric
<tr id="vMetric@(Model.MetricVariantId)" class="PriorYearRow" data-metric-id="@(Model.MetricId)" data-metric-variant-id="@(Model.MetricVariantId)">
    <td headers="MetricName@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" data-item-type="DisplayName" class="SubMetricBG" title="@Model.ToolTip">
        <p class="arrow deemphasized">
            <i class="icon-right deemphasized"></i>
            <a name="m@(Model.MetricVariantId)"></a>
            <span class="metricId">@(Model.MetricId)-@(Model.MetricVariantType)</span>
            @(Model.DisplayName)
        </p>
    </td>
    <td headers="MetricDetails@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" data-item-type="ContextMenu" colspan="5">
    </td>
</tr>>
