@model ContainerMetric
@{
    //Define the ParentContainerMetricId to propagate fo the unique columns.
    //This si needed because we have "Complex tables" meaning colspans that then need unique ids in the headers and matching the cells in the rows below with the same headers="uniqueColumnId". 
    this.SetMetricRenderingContextValue("ParentContainerMetricId", Model.MetricId);
}
<!-- Inline Style is left intentionally in the MetricTemplate to provide a easyer way to override.-->
<table summary="This table displays metrics regarding @(Model.DisplayName).">
<thead>
    <tr id="vMetric@(Model.MetricVariantId)">    
        <th id="MetricName@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" style="width: 34%;" title="@Model.ToolTip">
            <span id="vMetricVariantId@(Model.MetricVariantId)" class="metricId">
                @(Model.MetricId)-@(Model.MetricVariantType)
            </span>
            <a name="@(Model.DisplayName)">
                @(Model.DisplayName)
            </a>
            <a name="m@(Model.MetricVariantId)">&nbsp;</a>
        </th>
        <th id="MetricValue@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" style="width: 9%;" title="Color indicates if meeting school goal">
            Metric Value<br />
            <small>(% of teachers)</small>
        </th>
        <th id="MetricTrend@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" style="width: 7%;" title="Trend arrow indicates difference from relevant prior period">
            Trend
        </th>
        <th id="MetricGoal@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" style="width: 10%;">
            School Goal
        </th>
        <th id="MetricDifferenceFromGoal@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" style="width: 10%;" title="Color indicates if meeting school goal">
            Difference from Goal
        </th>
        <th id="MetricStudentAttainment@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" style="width: 12%;">
            Teacher Attainment<br />
            <small>(# meeting teacher goal)</small>
        </th>
        <th id="MetricDetails@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" class="doNotPrint" style="text-align:center; width: 9%">
            Details
        </th>
    </tr>
</thead>
<tbody>
