@model ContainerMetric
<tr id="vMetric@(Model.MetricVariantId)" class="container"  data-metric-id="@(Model.MetricId)" data-metric-variant-id="@(Model.MetricVariantId)">
    <td headers="MetricName@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" data-item-type="DisplayName" colspan="6" title="@Model.ToolTip">
        <span class="metricId">
            @(Model.MetricId)-@(Model.MetricVariantType)
        </span>
        <h3 class="title deemphasized">
            @(Model.DisplayName)  <span class="hidden">(Disabled)</span>
            <a name="m@(Model.MetricVariantId)">&nbsp;</a>
            @foreach (var metricBase in Model.Children)
            {              
                <a name="m@(metricBase.MetricVariantId)">&nbsp;</a>
            }
        </h3>
        <p class="description deemphasized"><span>@Model.Description</span></p>
    </td>
    <td headers="MetricDetails@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))" data-item-type="ContextMenu">
    </td>
</tr>
