@using Cassette.Views
@using EdFi.Dashboards.Common
@using EdFi.Dashboards.Presentation.Core.Controllers
@model EdFi.Dashboards.Presentation.Web.Areas.LocalEducationAgency.Models.Home.HomeModel

@{
    Layout = null;

    Bundles.Reference("Core_Content/Scripts/External");
    Bundles.Reference("App_Themes/Ed-Fi");
    Bundles.Reference("App_Themes/Theme1");
    Bundles.Reference("App_Themes/Dashboards");

    var displayTrainingAndPlanning = !String.IsNullOrWhiteSpace(Model.LocalEducationAgencyInformation.TrainingAndPlanningHref);
    var trainingAndPlanningHref = !String.IsNullOrWhiteSpace(Model.LocalEducationAgencyInformation.TrainingAndPlanningHref) ? Model.LocalEducationAgencyInformation.TrainingAndPlanningHref : "#";

}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@Model.LocalEducationAgencyInformation.Name | Dashboards</title>`
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    
    @Bundles.RenderStylesheets()

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="@Url.Content("~/App_Themes/Ed-Fi/ico/favicon.ico")" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="hero-unit">
                    <h1>Dashboards</h1>
                    <h1>@Model.LocalEducationAgencyInformation.Name</h1>
                    <p id="hero-logo">
                        <img src="@Url.Content("~/App_Themes/Ed-Fi/img/EdFi-logo-Powered-RGB-TM.png")" alt="Ed-Fi Logo" width="237" height="121" />
                    </p>
                    <p style="margin:20px 0;">
                        Ed-Fi Powered Dashboards provide educators access to historical, timely, and predictive information on all students.  Educators can 
                        use Ed-Fi Powered Dashboards to help manage academic performance and address the needs of students throughout the year.
                    </p>
                </div><!--/hero-unit-->
                <div class="row">
                    <div class="span6">
                        <h2>Log in to the Dashboards</h2>
                        <p>
                            You must log in to access your Ed-Fi Powered Dashboards.
                        </p>
                        <p>
                            <a href="@Model.LocalEducationAgencyInformation.LoginUrl" class="btn btn-primary btn-large">Log in &raquo;</a>
                        </p>
                    </div><!--/span-->
                    <div class="span6">
                        @if (@displayTrainingAndPlanning)
                        {
                        <h2>View Training and Planning Materials</h2>
                        <p>
                            Here's a short description of the training and planning materials.
                        </p>
                        <p>
                            <a href="@trainingAndPlanningHref" class="btn btn-primary btn-large">View materials &raquo;</a>
                        </p>
                        }
                    </div><!--/span-->
                </div><!--/row-->
                <div class="row">
                    <div class="span6">
                        <h2>Contact Customer Support</h2>
                        <p>
                            Begin the support request process by clicking the button below.
                        </p>
                        <p>
                            <a id="buttonContactSupport" class="btn btn-primary btn-large">Submit request for support &raquo;</a>
                        </p>
                    </div><!--/span-->
                    <div class="span6">
                        @*<h2>General Information</h2>
                        <p>
                            You can find more information about Ed-Fi Powered Dashboards here.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary btn-large">More information &raquo;</a>
                        </p>*@
                    </div><!--/span-->
                </div><!--/row-->
            </div><!--/span-->
        </div><!--/row-->

        <hr/>
        <footer>
            <p>
                &copy;@DateTime.Now.Year Ed-Fi Alliance, LLC. All Rights Reserved.<br/>For the latest information about Ed-Fi visit our website at <a href="http://www.ed-fi.org/">Ed-Fi.org</a>.
            </p>
        </footer>
    </div>
    <!--/.container-->
    
    @Bundles.RenderScripts()
    @{Html.RenderAction("Feedback", typeof(MasterPageController).GetControllerName(), new { supportLinkControlId = "#buttonContactSupport", allowNameEdit = false }); }

</body>
</html>