@model IGranularMetric
<tr id="vMetric@(Model.MetricVariantId)">
    <td title="@Model.ToolTip" headers="MetricName@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))">
        <p class="arrow">
            <i class="icon-blank"></i>
            <span id="vMetricVariantId@(Model.MetricVariantId)" class="metricId">
                @(Model.MetricId)-@(Model.MetricVariantType)
            </span>
            <span id="vName@(Model.MetricVariantId)">@(Model.DisplayName)</span>
            @if (!String.IsNullOrWhiteSpace(Model.Context))
            {
                <span id="vContext@(Model.MetricVariantId)">(@Model.Context)</span>
            }
            <span class="under-construction">@Html.Partial("UnderConstruction", (MetricBase)Model)</span>
        </p>
        @Html.Partial("MetricFootnoteLabelSuperText", Model.Footnotes)
    </td>
    <td headers="MetricValue@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))">
        <span id="vStatus@(Model.MetricVariantId)">
            @Html.Partial("StatusLabel", Model.State)
        </span>
    </td>
    <td headers="MetricGoal@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))">
        <span id="vGoal@(Model.MetricVariantId)">
            @Model.Values["DisplayGoal"]
        </span>
    </td>
    <td headers="MetricDifferenceFromGoal@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))">
        <span id="vDifference@(Model.MetricVariantId)" class="@(Legacy.DifferenceFromGoalClass(Model.Values["GoalDifference"]))">
            @Model.Values["DisplayGoalDifference"]
        </span>
    </td>
    <td headers="MetricNewGoal@(this.GetMetricRenderingContextValue("ParentContainerMetricId"))">
        <input required aria-required="true" class="newGoal" id="newGoal@(Model.MetricVariantId)" type="text" value="@Model.Goal.Value" data-metricId="@Model.MetricId" data-currentGoal="@Model.Goal.Value" title="New Goal"/>
    </td>
</tr>


<script>
    $('input[title="New Goal"]').keyup(function (event) {
        if (event.keyCode == 13) {
            goals.publishEdOrgGoals();
        }
    });
</script>

