@using EdFi.Dashboards.Core.Providers.Context
@using EdFi.Dashboards.Presentation.Web.Architecture.HtmlHelperExtensions
@model List<EdFi.Dashboards.Resources.Models.Student.Detail.AssessmentHistory.Assessment>
         
@{
  var studentUSI = EdFiDashboardContext.Current.StudentUSI.GetValueOrDefault();
}

    <script>
        analyticsManager.trackDrilldown('StudentAcademicChallengeHistoricalList', '@(ViewBag.SubjectArea)', '@(studentUSI)');
    </script>

    @if (Model.Any())
    {
        <table summary="Table contains historical assessment information." class="standard-table" style="width:85%;">
            <thead>
                <tr>
                    <th>School Year</th>
                    <th>Date Taken</th>
                    <th>Grade Level</th>
                    <th>Assessment Title</th>
                    <th>Student Test Scores</th>
                    <th>Met Standard</th>
                </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var assessment = Model[i];
                bool isAlt = (!(i%2 == 0));
                <tr class="@(isAlt ? "alt" : "")">
                    <td>@assessment.SchoolYear</td>
                    <td>@(Convert.ToDateTime(assessment.DateTaken).ToShortDateString())</td>
                    <td>@assessment.GradeLevel</td>
                    <td>@assessment.AssessmentTitle</td>
                    <td>@Html.Partial("StatusLabel", assessment.ScoreState)</td>
                    <td>@assessment.MetStandardScore</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="metric-no-data">No data available.</p>
    }

