@using EdFi.Dashboards.Common.Utilities
@using EdFi.Dashboards.Core.Providers.Context
@using EdFi.Dashboards.Presentation.Core.Models.Shared
@using EdFi.Dashboards.Presentation.Core.Providers.Models
@using EdFi.Dashboards.Resources.Navigation.Mvc
@using EdFi.Dashboards.SecurityTokenService.Authentication
@model EdFi.Dashboards.Resources.Models.CustomGrid.GridDataWithFootnotes
@{
    var localEducationAgencyId = EdFiDashboardContext.Current.LocalEducationAgencyId.GetValueOrDefault();
    var schoolId = EdFiDashboardContext.Current.SchoolId.GetValueOrDefault();
    var staffUSI = UserInformation.Current.StaffUSI;
    var metricVariantId = EdFiDashboardContext.Current.MetricVariantId.GetValueOrDefault();
    var callbackUrl = EdFiDashboardContext.Current.RoutedUrl;

    var edFiGridModelProvider = IoC.Resolve<IEdFiGridModelProvider>();

    var edfiGridModel = edFiGridModelProvider.GetEdFiGridModel(true, true, 10, "Metric" + metricVariantId,
        metricVariantId, Model, Model.MetricFootnotes, Model.GetDefaultNonPersistedSettings("Metric"+ metricVariantId + "EdFiGrid"), false, "StudentList", new List<string> { "Default" }, "metricContext", true, callbackUrl, false);

    var customStudentListModel = new CustomStudentListModel
                                            {
                                                ControlId = "Metric" + metricVariantId,
                                                IsCustomStudentList = false,
                                                LinkParentIdentifier = "#Metric" + metricVariantId + "-EdFiGrid-interaction-custom",
                                                CheckboxParentIentifier = "#Metric" + metricVariantId + "-EdFiGrid-fixed-data-table",
                                                SelectAllCheckboxParentIentifier = "#Metric" + metricVariantId + "-EdFiGrid-fixed-header-table",
                                                CustomStudentListId = null,
                                                LocalEducationAgencyId = localEducationAgencyId,
                                                SchoolId = schoolId,
                                                StaffUSI = staffUSI,
                                                CustomStudentListUrl = EdFiDashboards.Site.Staff.CustomStudentList(schoolId, staffUSI, null, new { format = "json" }),
                                                UniqueId = metricVariantId
                                            };
}
    
<div id="StudentPriorYearMetricTable@(metricVariantId)">
    <script>
        analyticsManager.trackDrilldown('SchoolStudentPriorYearMetricTable', '@(metricVariantId)', '@(schoolId)');

        $(document).ready(function () {
            $('#Metric@(metricVariantId)-EdFiGrid-interaction-custom').append($('#buttonExportAll-@(metricVariantId)'));
            $('#buttonExportAll-@(metricVariantId)').show();
            $('#Metric@(metricVariantId)-EdFiGrid').bind('afterDrawEvent', function(e, table) {
                Metric@(metricVariantId)CustomStudentList.redrawCheckboxes();
            });
        });
    </script>
    <a href="@Url.Action("Get", "StudentPriorYearMetricExport")" id="buttonExportAll-@(metricVariantId)" class="btn" style="display:none;"><i class="icon-floppy"></i> EXPORT ALL</a>
    <a href="@Url.Action("Get", "StudentPriorYearMetricExport")" class="hidden">Export prior year for metric @(metricVariantId) to csv</a>
    @{
        Html.RenderPartial("EdFiGrid", model: edfiGridModel);

        Html.RenderPartial("CustomStudentList", model: customStudentListModel);
    }
</div>
